{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
	<h2>You have been logged out!</h2>
	<div class="content-section">
		<small>
			<a href="{% url 'login' %}">Log in Again</a>	
		</small>
	</div>
{% endblock content %}